:root {
    --primaryColor: #070707;
    --secondaryColor: darkgrey;
    --highlightColor: #3bc2f7;
    --defaultTextColor: white;
    --defaultHeadingFont: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-family: var(--defaultHeadingFont);
    background-color: #e3e7e8;
    ;
}

/* Header Styling */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2%;
    border-bottom: 10px var(--secondaryColor) solid;
    min-width: 365px;
}

h1, nav {
    color: var(--defaultTextColor);
    font-family: var(--defaultHeadingFont);
}

h1 {
    font-weight: bolder;
    margin-left: 3%;
}

h1::after {
    content: 'Smith';
    color: var(--highlightColor);
    font-weight: normal;
}

/* Easter Egg for computer users :D */
header img {
    width: 100px;
    opacity: 0;
    transition: 1.5s;
}

img:hover{
    opacity: 1;
}

header nav {
    text-align: right;
    width: 50%;
    padding: 0;
    margin-right: 3%;
}

header li {
    display: inline;
    text-align: center;
}

header a {
    color: var(--defaultTextColor);
    text-decoration: none;
    transition: 0.8s;
    padding: 2%;
}

/* Link Styling */
header a:hover {
    box-shadow: 0 5px 2px -2px var(--highlightColor);
}

header a:active {
    color: var(--highlightColor);
}

header a:focus {
    color: var(--highlightColor);
    box-shadow: 0 5px 2px -2px var(--highlightColor);
}

/* Main Page Design Styling */
section {
    display: flex;
    width: 100vw;
}

.sideTitle {
    width: 180px;
    padding-right: 15px;
    box-shadow: 5px 0px 2px -2px var(--highlightColor);
}

main {
    background-color: #e3e7e8;
}

.headerSpace {
    height: 120px;
}

h2 {
    min-width: 180px;
    text-align: right;
    font-family: var(--defaultHeadingFont);
    padding-top: 5px;
    padding-bottom: 5px;
}

.content {
    display: flex;
    width: calc(100% - 180px);
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* About Me Section Styling */
.aboutMePic {
    width: 150px;
    height: 150px;
    margin: 15px;
    margin-left: 30px;
    border-radius: 50%;
}

.aboutMe p{
    color: var(--primaryColor);
    padding-left: 15px;
    padding-right: 15px;
}

/* Portfolio Section Styling */
.portfolioItem {
    height: 150px;
    width: calc(42.5% - 20px);
    border: 10px var(--secondaryColor) solid;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--defaultHeadingFont);
    color: var(--defaultTextColor);
}

.portfolio h3 {
    background: var(--secondaryColor);
    padding: 1.5%;
    margin: 4%;
    border-radius: 15px;
    text-decoration: none;
    transition: 0.5s;
}

.portfolio a {
    text-decoration: none;
    transition: 0.5s;
}

.portfolioItem1 {
    width: calc(85% + 40px);
    height: 300px;
    background-image: url(CodyPic.jpeg);
    background-position: center;
}

.portfolioItem2 {
    background-image: url(javascript-logo.png);
    background-size: 70px;

}

.placeHolder {
    background-image: url(HTML-CSS-JS.png);
    background-size: 34%;
    background-position: center;
}

.portfolioItem3 {
    background-image: url(RHCPlogo.png);
}

.portfolio a:hover {
    border: 10px var(--highlightColor) solid;
}
.portfolio a:hover h3 {
    background: var(--highlightColor);
}

/* Contact Me Section Styling */
.contactMe {
    flex-wrap: wrap;
    text-align: center;
}
.tile {
    margin: 15px;
}

.contactMe div a {
    color: var(--primaryColor);
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s;

}

/* Resume Section Styling */
embed {
    margin: 10px;
    text-align: center;
    width: 85%;
    height: 80vh;
    border: 2px var(--highlightColor) solid;
}

/* Footer Styling */
footer {
    width: 100vw;
    height: 70px;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 10px var(--secondaryColor) solid;
    color: white;
}
/* Changes for smaller screens */
 @media screen and (max-width: 725px) {
    * {
        margin: 0;
        padding: 0;
    }

    header {
      flex-direction: column;
      justify-content: space-evenly;
      height: 160px;
    }
    header nav {
        display: flex;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    header ul {
        width: 100%;
    }
    header img {
        display: none;
    }
    .headerSpace {
        height: 170px;
    }
    section {
        flex-direction: column;
    }
    .sideTitle {
        box-shadow: 0 5px 2px -2px var(--highlightColor);
        margin-bottom: 10px;
    }
    .content {
        width: 100%;
        flex-direction: column;
    }
    .portfolioItem {
        width: 85%;
    }
    embed {
        height: 70vh;
    }
    .contactMe ul{
        justify-content: center;
    }
  }
  